<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BlogAppliction</h1>
        <article>
        <h2>Article1</h2>
        <p>Created date : 10/02/2025 22:00</p>
        <p>This is the content of Article1</p>
    </article>
    <article>
        <h2>Article2</h2>
        <p>Created date : 15/02/2025 07:00</p>
        <p>This is the content of Article2</p>
    </article>
</body>
</html>