{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Edit Post</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <form method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" value="{{ post.title }}" required>
                    </div>

                   
                    <div class="mb-3 text-center">
                        <label for="body" class="form-label">Content</label>
                        <div class="d-flex justify-content-center">
                            <textarea name="body" class="form-control w-100" rows="8"
                                required>{{ post.body }}</textarea>
                        </div>
                    </div>

                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning btn-lg px-4 py-2 fw-bold">Update</button>
                        <a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm px-3 ms-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}